
# configuration and readme
!.gitignore
!.devcontainer
!.devcontainer/*
!.gitpod.yml
.theia
.vscode
!.gitpod.Dockerfile
!learn.json
!README.md
!.vscode

# learn exercises
!/.learn
/.learn/**
!/.learn/bc.json
!/.learn/.bc.json
!/.learn/exercises
!/.learn/exercises/**
!/.learn/assets
!/.learn/assets/**

# python garbage
*.pyc
.venv
conftest.py
__pycache__/
.pytest_cache/
